# 숫자 자료형

In [3]:
a = 123

In [4]:
a

123

In [5]:
a = -178
a

-178

In [7]:
a = 0
a

0

In [8]:
a = -3.45
a

-3.45

In [9]:
a = 0o177
a

127

In [10]:
a = 0x8ff
b = 0xABC
a, b

(2303, 2748)

## 사칙연산

In [12]:
a = 3
b = 4
a+b

7

In [13]:
a*b

12

## 제곱 연산

In [14]:
a**b

81

## 나눗셈연산

In [16]:
7 % 3

1

In [17]:
3 % 7

3

## 나눗셈 몫 연산

In [19]:
7 // 4

1

In [20]:
7/4

1.75

# 문자열 자료형

In [22]:
"Hello World"

'Hello World'

In [23]:
'hello world'

'hello world'

In [25]:
""" Hello World """

' Hello World '

In [27]:
'''
Hello World
'''

'\nHello World\n'

In [28]:
## 문자열 안에 작은 따옴표나 큰 따옴표를 포함 시키고 싶을 때

```
Python's favorite food is perl
```

SyntaxError: unterminated string literal (detected at line 4) (3707279629.py, line 4)

In [29]:
"Python's favorite food is perl"

"Python's favorite food is perl"

In [30]:
'"Python is very easy." he says.'

'"Python is very easy." he says.'

In [31]:
'Python\'s favorite food is perl'

"Python's favorite food is perl"

In [32]:
"Life is too short \n You need python"

'Life is too short \n You need python'

In [33]:
multiline = "Life is too short \n You need python"
multiline

'Life is too short \n You need python'

In [34]:
print(multiline)

Life is too short
 You need python

In [40]:
multiline = '''
Life is too short
You need python
'''

In [41]:
print(multiline)

Life is too short
You need python

## 문자열 연산하기

In [42]:
head = "Python"
tail = " is fun!"
head + tail

'Python is fun!'

In [43]:
a = 'Python'
a * 5

'PythonPythonPythonPythonPython'

In [44]:
print('='*50)

==================================================

In [45]:
a = "Life is too short"
len(a)

17

# 문자열 인덱싱

In [48]:
a = "Life is too short, You need python"

In [49]:
len(a)

34

In [50]:
a[3]

'e'

In [51]:
a[12]

's'

In [53]:
a[13]

'h'

In [55]:
a[-1]

'n'

In [56]:
a[-7]

' '

In [57]:
a[-0]

'L'

## 문자열 슬라이싱

In [59]:
a = "Life is too short, You need python"
a[0]+a[1]+a[2]+a[3]

'Life'

In [61]:
a[0:4]

'Life'

In [63]:
a[-15:]

'You need python'

In [64]:
a[:]

'Life is too short, You need python'

In [65]:
a

'Life is too short, You need python'

In [66]:
a[19:-7]

'You need'

## 슬라이싱으로 문자열 나누기

In [68]:
a = "20240610Sunny"

In [71]:
a[0:8], a[8:]

('20240610', 'Sunny')

In [74]:
year = a[:4]
day = a[4:8]
weather = a[8:]
year, day, weather

('2024', '0610', 'Sunny')

## 문자열 수정하기

In [75]:
a = 'pithon'
a[1] = 'y'
a

TypeError: 'str' object does not support item assignment

In [76]:
a[0]+'y'+a[2:]

'python'

## 문자열 포매팅

In [79]:
# 숫자 바로 대입
"I eat %d apples"%3

'I eat 3 apples'

In [80]:
# 문자열 바로 대입
"I eat %s apples"%"five"

'I eat five apples'

In [81]:
"I eat %d apples"%"삼"

TypeError: %d format: a real number is required, not str

In [82]:
# 숫자 값을 나타내는 변수로 대입
num = 3
"I eat %d apples"%num

'I eat 3 apples'

In [83]:
# 2개 이상 값 넣기
num = 10
day = 'three'
"I ate %d apples. so i was sick for %s days. "%(num, day)

'I ate 10 apples. so i was sick for three days. '

In [84]:
# 2개 이상 값 넣기
num = 10
day = 'three'
"I ate %d apples. so i was sick for %s days. "%(day, num)

TypeError: %d format: a real number is required, not str

In [85]:
"I have %s apples"%3

'I have 3 apples'

In [86]:
"rate is %s"%3.14

'rate is 3.14'

In [88]:
'오늘의 습도는 %d%% 입니다.'%70

'오늘의 습도는 70% 입니다.'

## 소수점 표현하기

In [91]:
"%0.2f"%3.141592

'3.14'

## format 함수를 사용한 포매팅

In [94]:
"I eat {} apples".format(3)

'I eat 3 apples'

In [95]:
"I eat {} apples".format('five')

'I eat five apples'

In [96]:
num = 10
"I eat {} apples".format(num)

'I eat 10 apples'

In [98]:
# 2개 이상 값 넣기
num = 10
day = 'three'
"I ate {} apples. so i was sick for {} days. ".format(num, day)

'I ate 10 apples. so i was sick for three days. '

In [99]:
# 2개 이상 값 넣기
num = 10
day = 'three'
"I ate {} apples. so i was sick for {} days. ".format(day, num)

'I ate three apples. so i was sick for 10 days. '

In [100]:
"I ate {0} apples. so i was sick for {1} days. ".format(num, day)

'I ate 10 apples. so i was sick for three days. '

In [101]:
"I ate {number} apples. so i was sick for {int} days. ".format(num, day)

KeyError: 'number'

In [102]:
"I ate {num} apples. so i was sick for {int} days. ".format(num, day)

KeyError: 'num'

In [103]:
"I ate {num} apples. so i was sick for {day} days. ".format(num=10, day=3)

'I ate 10 apples. so i was sick for 3 days. '

In [104]:
"I ate {num} apples. so i was sick for {day} days. ".format(day=10, num=3)

'I ate 3 apples. so i was sick for 10 days. '

In [105]:
"I ate {num} apples. so i was sick for {day} days. ".format(day=3, 10)

SyntaxError: positional argument follows keyword argument (2716507018.py, line 1)

In [106]:
"I ate {num} apples. so i was sick for {day} days. ".format(num=3, 10)

SyntaxError: positional argument follows keyword argument (3337554734.py, line 1)

In [107]:
"I ate {num} apples. so i was sick for {} days. ".format(num=3, 10)

SyntaxError: positional argument follows keyword argument (1400408741.py, line 1)

In [108]:
"I ate {} apples. so i was sick for {num} days. ".format(num=3, 10)

SyntaxError: positional argument follows keyword argument (2470790741.py, line 1)

In [109]:
"I ate {} apples. so i was sick for {num} days. ".format(10, num=3)

'I ate 10 apples. so i was sick for 3 days. '

In [110]:
y = 3.141414
"{0:0.4f}".format(y)

'3.1414'

# 문자열 포매팅(강추)

In [112]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [113]:
f'나는 내년이면 {age+1}살이 됩니다.'

'나는 내년이면 31살이 됩니다.'

In [114]:
d = {'name' : '홍길동', 'age': 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'