In [1]:
# 화면에 Hello World 문자열을 출력하세요.
' hello world'

' hello world'

In [2]:
# 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)
"Mary's cosmetics"

"Mary's cosmetics"

In [3]:
# 화면에 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
# 신씨가 소리질렀다. "도둑이야".
' 신씨가 소리질렀다. "도둑이야".'

' 신씨가 소리질렀다. "도둑이야".'

In [8]:
# 화면에 C:\Windows를 출력하세요.
print('C:\Windows')

C:\Windows

In [10]:
# 다음 코드를 실행해보고 \t와 \n의 역할을 설명해보세요.

print("안녕하세요.\n만나서\t\t반갑습니다.")
# /n 줄바꿈 /t 탭

안녕하세요.
만나서		반갑습니다.

In [11]:
#print 함수에 두 개의 단어를 입력한 예제입니다. 아래 코드의 출력 결과를 예상해봅시다.

print ("오늘은", "일요일")

오늘은 일요일

In [15]:
# print() 함수를 사용하여 다음과 같이 출력하세요.
# naver;kakao;sk;samsung

print('naver','kakao','sk','samsumg', sep=';')

naver;kakao;sk;samsumg

In [17]:
#print() 함수를 사용하여 다음과 같이 출력하세요.

#naver/kakao/sk/samsung

print('naver','kakao','sk','samsumg', sep='/')

naver/kakao/sk/samsumg

In [19]:
#다음 코드를 수정하여 줄바꿈이 없이 출력하세요. (힌트: end='') print 함수는 두 번 사용합니다. 세미콜론 (;)은 한줄에 여러 개의 명령을 작성하기 위해 사용합니다.

print("first","second")

first second

In [24]:
# 5/3의 결과를 화면에 출력하세요.

5/3

1.6666666666666667

In [28]:
# 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.
삼성전자=50000
총평가금액 =삼성전자*10
총평가금액

500000

In [30]:
# 다음 표는 삼성전자의 일부 투자정보입니다. 변수를 사용해서 시가총액, 현재가, PER 등을 바인딩해보세요.

#항목	값
#시가총액	298조
#현재가	50,000원
#PER	15.79

시가총액 = '298조'
현재가 = '50,000원'
PER = '15.79'

print(시가총액)
print(현재가)
print(PER)

298조
50,000원
15.79

In [42]:
#변수 s와 t에는 각각 문자열이 바인딩 되어있습니다.

s = "hello"
t = "python"
#두 변수를 이용하여 아래와 같이 출력해보세요.

#실행 예:
#hello! python

print(s+'!', t)

hello! python

In [49]:
#아래 코드의 실행 결과를 예상해보세요.

2 + 2 * 3

8

In [52]:
'''
type() 함수는 데이터 타입을 판별합니다. 변수 a에는 128 숫자가 바인딩돼 있어 type 함수가 int (정수)형임을 알려줍니다.

>> a = 128
>> print (type(a))
<class 'int'>
아래 변수에 바인딩된 값의 타입을 판별해보세요.

>> a = "132"
'''
a = "132"

print(a, type(a))

132 <class 'str'>

In [53]:
type(a)

str

In [55]:
'''
문자열 '720'를 정수형으로 변환해보세요.

>> num_str = "720"
'''
num_str = "720"
num_str = [720]
type(num_str)

list

In [58]:
num_str = "720"  #형변환
num_int = int(num_str)
print(num_int, type(num_int))

720 <class 'int'>

In [60]:
'''
017 정수를 문자열 100으로 변환
정수 100을 문자열 '100'으로 변환해보세요.
'''

num='100'
print(num, type(num))

100 <class 'str'>

In [61]:
'''
문자열 "15.79"를 실수(float) 타입으로 변환해보세요.'''

data = "15.79"
data = float(data)
print(data, type(data))

15.79 <class 'float'>

In [62]:
'''
year라는 변수가 문자열 타입의 연도를 바인딩하고 있습니다. 이를 정수로 변환한 후 최근 3년의 연도를 화면에 출력해보세요.

year = "2020"
'''
year = "2020"
print(int(year)-3)  
print(int(year)-2)  
print(int(year)-1)

2017
2018
2019

In [64]:
'''
에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)
'''

월금액=48584
무이자=36
총금액=(월금액*무이자)
총금액

1749024